<router-outlet></router-outlet>


<div *ngIf="( authComponent.user | async) as user; else login" class="loginDiv">{{user.email}}
  - {{user.displayName}}</div>
<br/><br/>
<button (click)="authComponent.logout()" class="btn btn-secondary">OUT</button>
<br/><br/>

<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <button (click)="authComponent.login()" class="btn btn-primary">
      <i class="far fa-envelope"></i>
      Email Login
    </button>
    <br/><br/>
    <button (click)="authComponent.glogin()" class="btn btn-danger">
      <i class="fab fa-google"></i>
      Google Login
    </button>
  </div>
</ng-template>


<app-lista-compra></app-lista-compra>
